web.example.com {
	log {
		output file /var/log/access.json
		level INFO
		format json {
			time_format iso8601
		}
	}
}

{
	log {
		output file /var/log/access.json
		level INFO
		format json {
			time_format iso8601
		}
	}
}

:9000 {
	metrics
}
